server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ems?options=-c%20TimeZone%3DUTC
    username: ems_user
    password: ems_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    defer-datasource-initialization: true
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

  sql:
    init:
      mode: always
